<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head") %>
  <link rel="stylesheet" href="/assets/css/style.css">
  <body>
    
    <!-- Header -->
    <%- include("../../partials/header") %>

  </body>
  </html>