<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="https://turnedin.id/img/logo/1714118413316.png" alt="Logo" width="45" height="24" class="d-inline-block align-text-top ms-0 ms-xl-5">
          <span class="fw-bold">Turned In</span>
        </a>
      <div class="navigasi d-none d-xl-block">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Cek Pesanan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Cara Order</a>
          </li>
        </ul>
      </div>
        <form class="d-flex" role="search">
          <a type="button" class="btn btn-success" href="/login.html">Login</a>
        </form>
      </div>
    </nav>
    <div class="w-100 bg-warning py-3 text-color">
      <div class="text-center fw-semibold text-light">
        <span>Cek Turnitin 24 jam!!!</span>
      </div>
    </div>
  </header>